{{#if useradmin}}
<html>
<head>
    <title>Hi-Tech-DATABASE</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body style="margin: 0; height: 100vh;">
    <table class="admintable" width="100%" height="100%">
        <tr>
            <td style="border: 1px solid black; height: 8%; width: 100%; background-color: black; text-align: center;">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 5%;"></td>
                        <td style="width: 10%;"><p style="color: white; font-family: sans-serif;">Commandes</p></td>
                        <td style="width: 85%;"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 82%; vertical-align: auto; text-align: center; width: 100%;">
                <table style="width: 100%; height: 100%; vertical-align: center; text-align: center;">
                    <tr>
                        <td style="width: 15%;">
                            <table style="background-color: dimgray; width: 100%; height: 100%; text-align: center; color: aliceblue; border: 1px black;">
                                <tr>
                                    <a href="database">
                                    <td><a href="database">Dashboard</a></td></a>
                                </tr>
                                <tr>
                                    <td><a href="admincategorie">Categorie</a></td>
                                </tr>
                                <tr>
                                    <td><a href="adminproducts">Produits</a></td>
                                </tr>
                                <tr>
                                    <td><a href="adminmembres">Membres</a></td>
                                </tr>
                                <tr>
                                    <td style="background-color: black;"><a href="admincommandes">Commandes</a></td>
                                </tr>
                                <tr>
                                    <td><a href="admindisconnect">D&eacute;connexion</a></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <div class="containertransparent">
                                <div class="scrollable-content">
                                    <br /><br />
                                    <table style="width: 100%; height: 25%; border-collapse: separate; border-spacing: 15px; padding: 5px 5px; text-align: center;">
                                        <tr>
                                            <td>
                                                <h1 style="color: black;">Commandes</h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right;">
                                                <table style="text-align: center;">
                                                    <tr>
                                                        <td style="width: 60%;">
                                                        <td style="width: 30%;">
                                                            <form method="get" action="/con/admincommandesearch">
                                                                <br /><input class="search" type="text" name="search" max="100" placeholder="Nom/Telephone">
                                                        </td>
                                                        <td style="width: 10%; text-align: left;">
                                                            <input class="okbtn" type="image" src="/search.png" alt="Logo" />
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table class="databaselist">
                                                    <tr>
                                                        <th><b>Numero de commandes</b></th>
                                                        <th style="width: 20%;"><b>Client</b></tdstyle="width:>
                                                        <th style="width: 20%;"><b>Contact</b></th>
                                                        <th style="width: 15%;"><b>Date</b></th>
                                                        <th><b>Prod.Qt&eacute;</b></th>
                                                        <th><b>Montant</b></th>
                                                        <th><b>Status</b></th>
                                                        <th><b>Option</b></th>
                                                        <th colspan="2"><b>Maj</b></th>
                                                    </tr>
                                                    {{#each commandes}}
                                                <tr>
                                                    <td>{{this.id}}</td>
                                                    <td>{{this.nom}} {{this.prenom}}</td>
                                                    <td>{{this.tel}}</td>
                                                    <td>{{this.date}}</td>
                                                    <td>{{this.quantite}}</td>
                                                    <td>{{this.total}}</td>
                                                    <td>
                                                        <script>
                                                            if ({{this.status}} === 1) {
                                                                document.write('<p style="color: green;">Valid&eacute;</p>');
                                                            } else if ({{this.status}} === 0) {
                                                                document.write('<p style="color: red;">Annul&eacute;</p>');
                                                            } else {
                                                                document.write('En cours');
                                                            }
                                                        </script>
                                                    </td>
                                                    <td>
                                                        <form method="get" action="validercommande">
                                                            <input type="hidden" name="id" value="{{this.id}}" />
                                                            <input class="greenbtn" type="submit" value="Valider" />
                                                        </form>
                                                        <form method="get" action="annulercommande">
                                                            <input type="hidden" name="id" value="{{this.id}}" />
                                                            <input class="bluebtn" type="submit" value="annuler" />
                                                        </form>
                                                    </td>
                                                    <td>
                                                        <form method="get" action="editcommandeform">
                                                            <input type="hidden" name="id" value="{{this.id}}" />
                                                            <input class="bluebtn" type="submit" value="changer" />
                                                        </form>
                                                        <form method="get" action="deletecommande">
                                                            <input type="hidden" name="id" value="{{this.id}}" />
                                                            <input class="redbtn" type="submit" value="supprimer" />
                                                        </form>
                                                    </td>
                                                    <td>
                                                        <form method="get" action="pdfcommande">
                                                            <input type="hidden" name="id" value="{{this.id}}" />
                                                            <input class="bluebtn" type="submit" value="imprimer" />
                                                        </form>
                                                    </td>
                                                </tr>
                                                    {{/each}}
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
{{else}}
<script>
        // Redirect to another page
        window.location.href = '/con/adminlogin';
</script>
{{/if}}