{{#if useradmin}}
<html>
<head>
    <title>Hi-Tech-DATABASE</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body style="margin: 0; height: 100vh;">
    <table class="admintable" width="100%" height="100%" style="border: 1px solid black;">
        <tr>
            <td style="border: 1px solid black; height: 8%; width: 100%; background-color: black; text-align: center;">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 5%;"></td>
                        <td style="width: 10%;"><p style="color: white; font-family: sans-serif;">Categories</p></td>
                        <td style="width: 85%;"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 82%; vertical-align: auto; text-align: center; width: 100%;">
                <table style="width: 100%; height: 100%; vertical-align: center; text-align: center;" border=1px solid black>
                    <tr>
                        <td style="width: 15%;">
                            <table style="background-color: dimgray; width: 100%; height: 100%; text-align: center; color: aliceblue; border: 1px black;">
                                <tr>
                                    <a href="database">
                                    <td><a href="database">Dashboard</a></td></a>
                                </tr>
                                <tr>
                                    <td style="background-color: black;"><a href="admincategorie">Categorie</a></td>
                                </tr>
                                <tr>
                                    <td><a href="adminproducts">Produits</a></td>
                                </tr>
                                <tr>
                                    <td><a href="adminmembres">Membres</a></td>
                                </tr>
                                <tr>
                                    <td><a href="admincommandes">Commandes</a></td>
                                </tr>
                                <tr>
                                    <td><a href="admindisconnect">D&eacute;connexion</a></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <div class="containertransparent">
                                <div class="scrollable-content">
                                    <br /><br />
                                    <table style="width: 100%; height: 25%; border-collapse: separate; border-spacing: 15px; padding: 5px 5px; text-align: center;">
                                        <tr>
                                            <td>
                                                <br /><br />
                                                <table style="padding: 10px; margin: 10px; border-collapse: collapse; border-radius: 10px; overflow: hidden; background-color: white;">
                                                    <tr>
                                                        <td>
                                                            <form method="get" action="editcateg">
                                                                &nbsp;&nbsp;&nbsp;<h2>id : {{category.id}}</h2><input type="hidden" name="id" value="{{category.id}}" />
                                                                &nbsp;&nbsp;&nbsp;<h2>Categorie : <input class="login" type="text" name="nomcateg" placeholder="{{category.nomcateg}}" value="{{category.nomcateg}}" required/></h2>
                                                                <input class="bluebtn" type="submit" value="Changer" />
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
{{else}}
<script>
        // Redirect to another page
        window.location.href = '/con/adminlogin';
</script>
{{/if}}