
<html>
<head>
    <title>connexion</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
</head>

<body style="margin: 0; height: 100vh;">
    <table width="100%" height="100%" style="border: 1px solid black;">
        <tr>
            <td style="height: 8%; width=100%; background-color: darkred;">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 10%;"><a href="/"><img src="/topbarlogo.png" alt="Top Bar Logo" style="width: 100%; height: 100%;" /></a></td>
                        <td style="width: 20%;"></td>
                        <form method="get" action="/con/search">
                        <td style="width: 30%;">
                            <input class="search" type="text" name="search" max="100" placeholder="Rechercher">
                        </td>
                        <td style="width: 10%;">
                            <input class="okbtn" type="image" src="/search.png" alt="Logo" />
                        </td>
                        </form>
                        {{#if user.email}}

                        <td style="width: 8%;"><a href="/con/panier"><img src="/topbarpanier.png" alt="Top Bar Panier" style="width: 30%; height: 30%;" /></a></td>
                        <td style="width: 10%;">
                            <div class="menu-container">
                                <button class="menu-button"><b style="color: white;">bienvenue {{user.nom}} {{user.prenom}}</b></button>
                                <div class="menu">
                                    <ul>
                                        <li><a href="disconnect">Se d&eacute;connecter</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td style="width: 7%;">
                            <a href="disconnect"></a>
                        </td>
                        {{else}}
                        <td style="width: 25%;"></td>
                        <td style="width: 5%;">
                            <a href="/con/connexion"><img src="/person.png" /></a>
                        </td>
                        {{/if}}
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 82%; vertical-align: top; text-align: left;">
                <div class="container">
                    <div class="scrollable-content">
                        <table style="width: 100%; text-align: center;">
                            <tr>
                                <td style="width: 20%;">
                                    <div class="menu-container">
                                        <button class="menu-button">Informatiques</button>
                                        <div class="menu">
                                            <ul>
                                                <a href="/con/laptop">
                                                <li><table><tr><td><img src="/laptop.jpg" /></td><td>PC portable</td></tr></table></li></a>
                                                <a href="/con/desktop">
                                                <li><table><tr><td><img src="/desktop.jpg" /></td><td>PC de bureau</td></tr></table></li></a>
                                                <a href="/con/ecran">
                                                <li><table><tr><td><img src="/ecran.png" /></td><td>Ecran</td></tr></table></li></a>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 20%;">
                                    <div class="menu-container">
                                        <button class="menu-button">Smartphones</button>
                                        <div class="menu">
                                            <ul>
                                                <a href="/con/android">
                                                <li><table><tr><td><img src="/android.jpg" /></td><td>Android</td></tr></table></li></a>
                                                <a href="/con/ios">
                                                <li><table><tr><td><img src="/ios.jpg" /></td><td>Iphone</td></tr></table></li></a>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 20%;">
                                    <div class="menu-container">
                                        <button class="menu-button">Smartwatch</button>
                                        <div class="menu">
                                            <ul>
                                                <a href="/con/bracelet">
                                                <li><table><tr><td><img src="/bracelet.png" /></td><td>Bracelet</td></tr></table></li></a>
                                                <a href="/con/montre">
                                                <li><table><tr><td><img src="/montre.jpg" /></td><td>Smartwatch</td></tr></table></li></a>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 20%;">
                                    <div class="menu-container">
                                        <button class="menu-button">TV</button>
                                        <div class="menu">
                                            <ul>
                                                <a href="/con/tv">
                                                <li><table><tr><td><img src="/tv.jpg" /></td><td>Televiseur</td></tr></table></li></a>
                                                <a href="/con/accessoirespourtv">
                                                <li><table><tr><td><img src="/accessoirespourtv.jpg" /></td><td>Accessoires pour tv</td></tr></table></li></a>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 20%;">
                                    <div class="menu-container">
                                        <button class="menu-button">Sons</button>
                                        <div class="menu">
                                            <ul>
                                                <a href="/con/ecouteur">
                                                <li><table><tr><td><img src="/ecouteur.jpg" /></td><td>Ecouteurs</td></tr></table></li></a>
                                                <a href="/con/hautparleur">
                                                <li><table><tr><td><img src="/hautparleur.jpg" /></td><td>Haut parleur</td></tr></table></li></a>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <table style="width: 100%;" align="center">
                            <tr>
                                <td style="height: 82%; vertical-align: top; text-align: left;">
                                    <div class="container">
                                        <div class="scrollable-content">
                                            <table style="width: 100%;" align="center">
                                                <tr>
                                                    <td style="width: 100%; text-align: center;">
                                                        <table style="width: 100%; text-align: center;">
                                                            <tr>
                                                                <td style="width: 100%;">
                                                                    <div>
                                                                        <br><br>{{clientId}}
                                                                        <form method="POST" action="/auth/restaurermotdepasse">
                                                                            <input id="clientIdInput" type="hidden" name="id" value="" />
                                                                            <label for="username">Nouveau mot de passe</label><br>
                                                                            <input class="creer" type="password" id="password" name="password" required><br><br>
                                                                            <label for="username">Confirmer le mot de passe</label><br>
                                                                            <input class="creer" type="password" id="passwordConfirm" name="passwordConfirm" required><br><br>
                                                                            <br /><br />
                                                                            <input class="loginbtn" type="submit" value="Confirmer">
                                                                        </form>
                                                                        <h2 style="color: darkred;">
                                                                            {{#if message}}
                                                                            {{message}}
                                                                            {{/if}}
                                                                        </h2>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <script>
        // Function to get the value of a URL parameter by name
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };

        // Get the clientId value from the URL query parameters
        var clientId = getUrlParameter('clientId');

        // Set the clientId value to the input element
        document.getElementById('clientIdInput').value = clientId;
    </script>

</body>
</html>
